.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.heading {
    width: 100%;
    height: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    background: #ffffff;
    border: solid #cccccc 2px;
    overflow: hidden;
    margin: 0px;
    position: static;
    
}

header {
    background: #4aaaa5;
    text-align: center;
    margin-left: 15%;
    width: 12.5%;
    font-size: 32px;
    float: left;
    height: 100%;
    padding-top: 20px;
    color: #ffffff;
}

.navigation {
    color: #666666;
    float: right;
    font-size: 18px;
    height: 100%;
    margin-right: 28.5%;
    text-align: right;
    padding-top: 10px;
}

body {
    background-image: url("../images/gravel.png");
    font-family: Arial, Helvetica, sans-serif;

}

.maininfo {
    background: #ffffff;
    width: 960px;
    height: 700px;
    margin-left: 15%;
    overflow: auto;
    margin-top: 20px;
    border: solid #cccccc 2px;
    z-index: 1;
    height: 645px;
}

h1 {
    margin-left: 20px;
    color: #4aaaa5;
}

#divider {
    margin-left: 20px;
    margin-right: 20px;
    height: 2px;
    background: #cccccc;
    width: 900px;
    margin-bottom: 10px;
}

main {
    margin-left: 20px;
    overflow: auto;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    line-height: 24px;
}

.bio {
    float: left;
    margin-right: 20px;
}

footer {
    background: #666666;
    width: 100%;
    position: fixed;
    text-align: center;
    line-height: 24px;
    bottom: 1px;
    height: 33px;
    right: 1px;
    padding-top: 7px;
    overflow: hidden;
}

.contact {
    color: #666666;
    margin-top: 20px;
    margin-left: 20px;
}
#contactname {
    background: #bebebe;
}

#contactemail {
    background: #bebebe;    
}

#contactmesssage {
    background: #bebebe;
    height: 300px;
}